<h4 ng-show = "notes.length > 0">Available notes</h4>
<h4 ng-show = "notes.length == 0">As long as there are no notes</h4>

<ul class="notes-list" ng-show = "notes.length > 0" >
    <li ng-repeat="note in notes | orderBy:'name'">
        <p class="note-summary">{{note.name}}</p>
        <p class="note-timedate"><i>{{ note.createdTs | date : 'yyyy/MM/dd' }}</i></p>
        <button class="note-delete-button" ng-click="deleteNote(note.id)">Delete</button>
    </li>
</ul>
<md-button style="float:right" ng-click="newNoteView()">
    New Note
</md-button>